* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.content {
    display: flex;
    flex-direction: column;
}

#header {
    padding: 1.5% 15%;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
#header h1 {
    color: #f9faf8;
    font-size: 22px;
    font-weight: 700;
}
#header ul {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 300;
}

#hero {
    background-color: #1f2937;
    padding: 8% 15%;
    display: flex;
    gap: 5%;
}
#hero-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
#hero-right {
    flex: 1 1 50px;
}
#hero-left h1 {
    color: #f9faf8;
    font-size: 44px;
    font-weight: 700;
}
#hero-left p {
    font-size: 16px;
    font-weight: 300;
    color: #e5e7eb;
}
#hero-left button {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#hero-right img {
    width: 100%;
}

#info {
    padding: 3% 20% 8% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
#info h2 {
    font-size: 32px;
}
#info-car {
    display: flex;
    justify-content: space-around;
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #7a7b7f;
    font-size: 16px;
    flex: 1 1 0;
}
.info-item div {
    border: 3px solid #3882f6;
    border-radius: 15px;
    flex: 0 1 0;
    width: 150px;
    display: flex;
}
.info-item img {
    width: 100%;
    border-radius: 10px;
}

#quote {
    padding: 10% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    gap: 12px;
}
#quote blockquote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}
#quote div {
    align-self: flex-end;
    font-weight: bold;
    color: #1f2937;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#quote-author {
    align-self: flex-start;
}

#cta {
    padding: 7% 13%;
    color: #e5e7eb;
}
#cta-content {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 45px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
#cta-content h3{
    font-weight: bold;
}
#cta-content p {
    font-weight: 300;
    font-size: 16px;
}
#cta-content button {
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    flex: 1 1 130px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 3% 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    word-spacing: .5em;
}